/vendor
/forms
.phpunit.result.cache
.env
/composer.lock
.php-cs-fixer.cache
/xmls
!/tests/local/*/.gitkeep
/tests/local/*/form.json
/tests/local/*/database.php
/tests/local/*/planilhas/*
/tests/local/*/instances/*
!/tests/local/*/planilhas/.gitkeep
!/tests/local/*/instances/.gitkeep
/tests/local/gerados/*
!/tests/local/gerados/.gitkeep
!/tests/local/gerados/*/.gitkeep
