/vendor
/forms
.phpunit.result.cache
.env
/composer.lock
.php-cs-fixer.cache
/xmls
/tests/local/planilhas/*
/tests/local/instances/*
/tests/local/jsons/*
!/tests/local/planilhas/.gitkeep
!/tests/local/instances/.gitkeep
!/tests/local/jsons/.gitkeep
